:root {
  /*шрифты*/
  --primary-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;

  /*цвета текста*/
  --primary-txt: #212121;
  --secondary-txt: #757575;
  --light-txt: #ffffff;
  --accent-txt: #2196f3;
  --logo-txt: #000000;

  /*цвета фона*/
  --primary-bg: #ffffff;
  --secondary-bg: #2f303a;
  --third-bg: #f5f4fa;

  /*цвета кнопок*/
  --main-btn-bg: #2196f3;
  --hover-main-btn-bg: #188ce8;
  --filter-btn-bg: #f5f4fa;
  --hover-filter-btn-bg: #2196f3;

  /*цвета рамок*/
  --primary-border: #eeeeee;
  --header-border: #ececec;

  /*цвета иконок*/
  --primary-icon: #afb1b8;
  --accent-icon: #ffffff;
  --hover-icon-bg: #2196f3;

  /**/
  --time-duration: 250ms;
  --time-fun: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: var(--primary-font);
  color: var(--primary-txt);
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
}

h2:last-child,
h1:last-child,
h3:last-child,
h4:last-child,
p:last-child {
  margin-bottom: 0;
}

/*Сброс подчеркиварий и маркеров*/

.link {
  text-decoration: none;
  position: relative;
}

.list {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

img {
  display: block;
}

input,
textarea {
  outline: transparent;
}

textarea {
  resize: none;
}

/* Шапка сайта */
.header {
  border-bottom: 1px solid var(--header-border);
}

.header-container {
  display: flex;
  align-items: center;
}

.header-link {
  margin-right: 93px;
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--logo-txt);
}

.logo-clr-accent {
  color: var(--accent-txt);
}

.header-nav-list {
  display: flex;
}

.header-nav-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-txt);

  transition-property: color;
  transition-duration: var(--time-duration);
  transition-timing-function: var(--time-fun);
}

.header-nav-link:hover,
.header-nav-link:focus {
  color: var(--accent-txt);
}

.header-nav-item {
  margin-right: 50px;
}

.header-nav-item:last-child {
  margin-right: 0;
}

.header-contacts-list {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.header-contacts-item:not(:last-child) {
  margin-right: 50px;
}

.header-mail,
.header-tel {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-txt);

  transition-property: color;
  transition-duration: var(--time-duration);transition-timing-function: var(--time-fun);
}

.contacts-icon {
  margin-right: 10px;
  fill: currentColor;
}

.header-mail:hover,
.header-tel:hover,
.header-mail:focus,
.header-tel:focus {
  color: var(--accent-txt);
}

.current {
  color: var(--accent-txt);
}

.current::after {
  position: absolute;
  bottom: -1px;
  left: 0;
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-txt);
}

/* Подвал сайта */

.footer {
  background-color: var(--secondary-bg);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-address {
  margin-right: 70px;
}

.footer-link {
  display: block;
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--light-txt);
  margin-bottom: 20px;
}

.contacts {
  font-style: normal;
}

.address {
  margin-bottom: 9px;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--light-txt);
}

.footer-mail,
.footer-tel {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--light-txt);
  opacity: 0.6;

  transition-property: color;
  transition-duration: var(--time-duration);
  transition-timing-function: var(--time-fun);
}

.footer-mail:hover,
.footer-tel:hover,
.footer-mail:focus,
.footer-tel:focus {
  color: var(--accent-txt);
}

.footer-contacts-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-socials {
  margin-right: 93px;
}

.footer-social-follow {
  font-family: var(--primary-font);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--light-txt);
  margin-bottom: 20px;
}

.footer-social-list {
  display: flex;
}

.footer-social-link {
  background: rgba(255, 255, 255, 0.1);
  cursor: pointer;
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;

  transition-property: background;
  transition-duration: var(--time-duration);
  transition-timing-function: var(--time-fun);
}

.footer-social-icon {
  width: 22px;
  height: 22px;
  fill: var(--accent-icon);
  opacity: 1;

  transition-property: background-color;
  transition-duration: var(--time-duration);transition-timing-function: var(--time-fun);
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--hover-icon-bg);
  opacity: 1;
}

.form{
  display: flex;
  align-items: flex-end;
}

.form-label {
  display: flex;
  flex-direction: column;
  padding-right: 12px;
}

.label-text {
font-family: var(--primary-font);
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--light-txt);
margin-bottom: 20px;
}

.form-input {
font-family: var(--primary-font);
font-size: 16px;
line-height: 1.25;
display: flex;
align-items: center;
letter-spacing: 0.03em;
border: 1px solid rgba(255, 255, 255, 0.3);
box-sizing: border-box;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
border-radius: 4px;
background-color: rgb(10, 10, 10, 0);
min-width: 358px;
min-height: 50px;
padding: 15px;
color: rgba(255, 255, 255, 0.6);
}

.form-input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.submit-btn {
  position: relative;
  width: 200px;
  height: 50px; 
  background: var(--main-btn-bg);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  padding: 10px 30px;
  
  font-family: var(--primary-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--light-txt);

  cursor: pointer;
  margin-bottom: 1px;
}

.send-icon{
  fill: var(--accent-icon);
  position:absolute;
  top: 50%;
  right: 13px;
  transform: translate(-50%, -50%);
}

/*Главная страница*/

.title {
  margin-bottom: 50px;
  font-family: var(--primary-font);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* секция Заказать услугу */
.order {
  text-align: center;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: var(--secondary-bg);

  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/bg-hero.png);

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.main-title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--light-txt);
}

.main-btn {
  min-width: 160px;
  max-width: 300px;
  padding: 10px 32px;
  border-radius: 4px;
  border: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--light-txt);
  background-color: var(--main-btn-bg);
  cursor: pointer;

  transition-property: background-color;
  transition-duration: var(--time-duration);transition-timing-function: var(--time-fun);
}

.main-btn:hover,
.main-btn:focus {
  background-color: var(--hover-main-btn-bg);
}

/* секция Преимущества */
.advantage-list {
  display: flex;
}

.advantage-item {
  max-width: 270px;
  margin-right: 30px;
}

.advantage-item:last-child {
  margin-right: 0;
}

.advantage-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  background: var(--third-bg);
  border-radius: 4px;
  margin-bottom: 30px;
}

.advantage-title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.advantage-descrtp {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--secondary-txt);
}

/* секция Чем мы занимаемся */
.section.workboard {
  padding-top: 0;
}

.workboard-list {
  display: flex;
}

.workboard-item {
  margin-right: 30px;
}

.workboard-item:last-child {
  margin-right: 0;
}

.workboard-cont {
  position: relative;
}

.workboard-descrtp {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70px;
  position: absolute;
  bottom: 0;
  left: 0;
  color: var(--light-txt);
  background-color: var(--secondary-bg);
  opacity: 0.8;

  font-family: var(--primary-font);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
}

/* секция Наша команда */
.team {
  background-color: var(--third-bg);
}

.team-list {
  display: flex;
}

.team-item {
  margin-right: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--primary-bg);
}

.team-item:last-child {
  margin-right: 0;
}

.about-member {
  padding-top: 30px;
  padding-bottom: 30px;
}

.member-name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.member-position {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-txt);
}

.social-list {
  display: flex;
  justify-content: center;
}

.social-item {
  margin-right: 10px;
}

.social-item:last-child {
  margin-right: 0;
}

.social-link {
  display: flex;
  width: 44px;
  height: 44px;
  background-color: var(--primary-bg);
  border-radius: 50%;
  justify-content: center;
  align-items: center;

  transition-property: background-color;
  transition-duration: var(--time-duration);transition-timing-function: var(--time-fun);
}

.social-icon {
  width: 22px;
  height: 22px;
  fill: var(--primary-icon);

  transition-property: fill;
  transition-duration: var(--time-duration);transition-timing-function: var(--time-fun);
}

.social-link:hover .social-icon,
.social-icon:focus .social-icon {
  fill: var(--accent-icon);
}

.social-link:hover,
.social-link:focus {
  background-color: var(--hover-icon-bg);
}

/* секция Постоянные клиенты */
.clients-list {
  display: flex;
  align-items: center;
  margin-top: -30px;
  margin-right: -30px;
}

.clients-item {
  flex-basis: calc(100% / 6 - 30px);
  margin-top: 30px;
  margin-right: 30px;
  display: flex;
  width: 170px;
  height: 92px;
  border: 1px solid var(--primary-icon);
  box-sizing: border-box;
  border-radius: 4px;
  cursor: pointer;
  justify-content: center;
  align-items: center;

  transition-property: border-color;
  transition-duration: var(--time-duration);transition-timing-function: var(--time-fun);
}

.clients-item:hover,
.clients-item:focus {
  /* fill: var(--hover-icon-bg); */
  border-color: var(--hover-icon-bg);
}

.clients-link {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  color: currentColor;
  cursor: pointer;
  fill: var(--primary-icon);

  transition-property: fill;
  transition-duration: var(--time-duration);transition-timing-function: var(--time-fun);
}

.clients-logo-icon {
  color: currentColor;
}

.clients-link:focus,
.clients-link:hover {
  fill: var(--hover-icon-bg);
}

/* страница Портфолио*/
.filter-list {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
  justify-content: center;
}

.filter-item:not(:last-child) {
  margin-right: 8px;
}

.filter-btn {
  padding: 6px 22px;
  border-radius: 4px;
  border: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-txt);
  background-color: var(--filter-btn-bg);
  cursor: pointer;

  transition-property: color, background-color, box-shadow;
  transition-duration: var(--time-duration);transition-timing-function: var(--time-fun);
}

.filter-btn:hover,
.filter-btn:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  background-color: var(--hover-filter-btn-bg);
  color: var(--light-txt);
}

.current-filter {
  background-color: var(--accent-txt);
  color: var(--light-txt);
}

/*-----------------------------------------------*/
.works-img {
  margin-bottom: 0;
}

.works-list {
  display: flex;
  flex-wrap: wrap;
}

.works-item-container {
  padding: 20px 24px;
  border-right: 1px solid var(--primary-border);
  border-bottom: 1px solid var(--primary-border);
  border-left: 1px solid var(--primary-border);
}

.works-item {
  margin-right: 30px;
  margin-bottom: 30px;
}

.works-item:nth-child(3n) {
  margin-right: 0;
}

.works-item:nth-child(n + 6) {
  margin-bottom: 0;
}

.works-link {
  display: block;

  transition-property: box-shadow;
  transition-duration: var(--time-duration);transition-timing-function: var(--time-fun);
}

.works-link:hover,
.works-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.works-thumb {
  position: relative;
  overflow: hidden;
}

.works-descr {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  color: var(--light-txt);
  background-color: var(--accent-txt);
  opacity: 0.9;
  font-family: var(--primary-font);
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  padding: 63px 24px;
  transform: translateY(100%);
  transition: transform;
  transition-duration: var(--time-duration);transition-timing-function: var(--time-fun);
}

.works-link:hover .works-descr,
.works-link:focus .works-descr {
  transform: translateY(0);
}

.works-name {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-txt);
}

.works-type {
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  color: var(--secondary-txt);
}

/*-----------------------------------------------*/
/* модальное окно */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);

  transition-property: opacity, visibility ;
  transition-duration: var(--time-duration);
 transition-timing-function: var(--time-fun);
 }

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background: var(--primary-bg);
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
0px 1px 1px rgba(0, 0, 0, 0.14),
0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 4px;
padding: 40px;
}

/*----------exit btn------------*/
.exit-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background: var(--primary-bg); 
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 50%;
  cursor: pointer; 
    
  display: flex;
  align-items: flex-end;  
  justify-content: center;  

  transition-property: fill;
  transition-duration: var(--time-duration);
  transition-timing-function: var(--time-fun);
}

.exit-btn-icon{
  height: 18px;
  width: 18px;
}

.exit-btn:hover .exit-btn-icon,
.exit-btn:focus .exit-btn-icon{
fill: var(--hover-icon-bg); 
}

.text-modal{
  font-family: var(--primary-font);
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-txt);
  margin-bottom: 12px;
}

.form-label-modal {
  position: relative;
  display: flex;
  flex-direction: column;
}

.label-text-modal{
font-family: var(--primary-font);
font-size: 12px;
line-height: 1.16;
letter-spacing: 0.01em;
color: var(--secondary-txt);
margin-bottom: 4px;
}

.icon-mod{
position:absolute;
transform: translate(-50%, -50%);
bottom: 18px;
left: 21px;

transition-property: fill;
transition-duration: var(--time-duration);
transition-timing-function: var(--time-fun);
}

.form-input-modal{
width: 448px;
height: 40px;
border: 1px solid rgba(33, 33, 33, 0.2);
box-sizing: border-box;
border-radius: 4px;
margin-bottom: 10px;
padding-left: 42px;
transition-property: border-color;
transition-duration: var(--time-duration);
transition-timing-function: var(--time-fun);
}

.form-label-modal:focus-within>.icon-mod{
fill: var(--hover-icon-bg);
}

.form-label-modal:focus-within>.form-input-modal {
  border: 1px solid var(--main-btn-bg);
}

.form-input-modal.textarea{
  width: 448px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding: 12px 16px;

  font-family: var(--primary-font);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
}

.form-input-modal.textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

/*-----------------------------------------------*/
.checkbox-label-modal {
  white-space: nowrap;
  display: block;
  margin: 0 0 30px 31px;
  cursor: pointer;
  position: relative;
}

.checkbox {
  --webkit-appearance: none;
  --moz-appeance: none;
  appearance: none;
}

.checkbox-icon {
  position: absolute;
  left: -14px;
  bottom: -2px;
  transform: translate(-50%, -50%);
  
  display: inline-block;
  width: 16px;
  height: 15px;
  border-radius: 2px;
  background-color: var(--primary-bg);
  background-image: url(../images/checkbox.svg); 
  background-repeat: no-repeat;
  background-position: center;
}

.checkbox:checked+.checkbox-icon {
  background-color: var(--hover-icon-bg);
  background-image: url(../images/check-submit.svg);
}

.checkbox-text-modal{
  font-family: var(--primary-font);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-txt);
}

.checkbox-link {
  color: var(--accent-txt);
  display: inline;
  text-decoration: underline;
}

/*-----------------------------------------------*/
.submit-btn-modal {
  width: 200px;
  height: 50px;
  font-family: var(--primary-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.06em;
  color: var(--light-txt);
  background: var(--main-btn-bg);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  border: none;
 
  transition-property: background-color, box-shadow;
  transition-duration: var(--time-duration);
  transition-timing-function: var(--time-fun);
}

.submit-btn-modal:hover,
.submit-btn-modal:focus {
  background: var(--hover-main-btn-bg);
}