.footer {
  background-color: var(--secondary-bg);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-address {
  margin-right: 70px;
}

.footer-link {
  display: block;
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--light-txt);
  margin-bottom: 20px;
}

.contacts {
  font-style: normal;
}

.address {
  margin-bottom: 9px;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--light-txt);
}

.footer-mail,
.footer-tel {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--light-txt);
  opacity: 0.6;

  transition-property: color;
  transition-duration: var(--time-duration);
  transition-timing-function: var(--time-fun);
}

.footer-mail:hover,
.footer-tel:hover,
.footer-mail:focus,
.footer-tel:focus {
  color: var(--accent-txt);
}

.footer-contacts-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-socials {
  margin-right: 93px;
}

.footer-social-follow {
  font-family: var(--primary-font);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--light-txt);
  margin-bottom: 20px;
}

.footer-social-list {
  display: flex;
}

.footer-social-link {
  background-color: rgba(255, 255, 255, 0.1);
  cursor: pointer;
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;

  transition-property: background;
  transition-duration: var(--time-duration);
  transition-timing-function: var(--time-fun);
}

.footer-social-icon {
  width: 22px;
  height: 22px;
  fill: var(--accent-icon);
  opacity: 1;

  transition-property: background-color;
  transition-duration: var(--time-duration);
  transition-timing-function: var(--time-fun);
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--hover-icon-bg);
  opacity: 1;
}

.form {
  display: flex;
  align-items: flex-end;
}

.form-label {
  display: flex;
  flex-direction: column;
  padding-right: 12px;
}

.label-text {
  font-family: var(--primary-font);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--light-txt);
  margin-bottom: 20px;
}

.form-input {
  font-family: var(--primary-font);
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: rgba(10, 10, 10, 0);
  min-width: 358px;
  min-height: 50px;
  padding: 15px;
  color: rgba(255, 255, 255, 0.6);
}

.form-input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.submit-btn {
  position: relative;
  width: 200px;
  height: 50px;
  background: var(--main-btn-bg);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  padding: 10px 30px;

  font-family: var(--primary-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--light-txt);

  cursor: pointer;
  margin-bottom: 1px;
}

.send-icon {
  fill: var(--accent-icon);
  position: absolute;
  top: 50%;
  right: 13px;
  transform: translate(-50%, -50%);
}
