.header {
  border-bottom: 1px solid var(--header-border);

  &__container {
    display: flex;
    align-items: center;
  }

  &__link {
    margin-right: 93px;
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--logo-txt);
  }

  &__logo {
    color: var(--accent-txt);
  }

  &-nav {
    &__list {
      display: flex;
    }

    &__link {
      display: block;
      padding-top: 32px;
      padding-bottom: 32px;
      font-weight: 500;
      font-size: 14px;
      line-height: 1.14;
      letter-spacing: 0.02em;
      color: var(--primary-txt);
      transition-property: color;
      transition-duration: var(--time-duration);
      transition-timing-function: var(--time-fun);
    }

    &__link:hover,
    &__link:focus {
      color: var(--accent-txt);
    }

    &__item {
      margin-right: 50px;
    }

    &__item:last-child {
      margin-right: 0;
    }
  }

  &-contacts {
    &__list {
      margin-left: auto;
      display: flex;
      align-items: center;
    }

    &__item:not(:last-child) {
      margin-right: 50px;
    }

    &__link {
      display: flex;
      align-items: center;
      font-weight: 500;
      font-size: 14px;
      line-height: 1.14;
      letter-spacing: 0.02em;
      color: var(--secondary-txt);
      transition-property: color;
      transition-duration: var(--time-duration);
      transition-timing-function: var(--time-fun);

      &:hover,
      &:focus {
        color: var(--accent-txt);
      }
    }

    &__icon {
      margin-right: 10px;
      fill: currentColor;
    }
  }
}
